<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.houyi.zhuque.dao.RoleMapper">
	<resultMap id="BaseResultMap"
		type="ai.houyi.zhuque.dao.model.Role">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR"
			property="description" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="readonly" jdbcType="BIT" property="readonly" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, name, description, create_time, readonly
	</sql>
	<select id="selectByExample"
		parameterType="ai.houyi.zhuque.dao.model.RoleExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="rows != null">
			<if test="offset != null">
				limit ${offset}, ${rows}
			</if>
			<if test="offset == null">
				limit ${rows}
			</if>
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from role
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="ai.houyi.zhuque.dao.model.RoleExample">
		delete from role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" keyColumn="id" keyProperty="id"
		parameterType="ai.houyi.zhuque.dao.model.Role" useGeneratedKeys="true">
		insert into role (name, description, create_time,
		readonly)
		values
		(#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{readonly,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" keyColumn="id" keyProperty="id"
		parameterType="ai.houyi.zhuque.dao.model.Role" useGeneratedKeys="true">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="readonly != null">
				readonly,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="readonly != null">
				#{readonly,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="ai.houyi.zhuque.dao.model.RoleExample"
		resultType="java.lang.Long">
		select count(*) from role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update role
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.description != null">
				description = #{record.description,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.readonly != null">
				readonly = #{record.readonly,jdbcType=BIT},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update role
		set id = #{record.id,jdbcType=INTEGER},
		name =
		#{record.name,jdbcType=VARCHAR},
		description =
		#{record.description,jdbcType=VARCHAR},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		readonly =
		#{record.readonly,jdbcType=BIT}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="ai.houyi.zhuque.dao.model.Role">
		update role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="readonly != null">
				readonly = #{readonly,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="ai.houyi.zhuque.dao.model.Role">
		update role
		set name = #{name,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		readonly = #{readonly,jdbcType=BIT}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectOneByExample"
		parameterType="ai.houyi.zhuque.dao.model.RoleExample"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. @project https://github.com/itfsw/mybatis-generator-plugin -->
		select
		<include refid="Base_Column_List" />
		from role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		limit 1
	</select>
	<insert id="batchInsert" keyColumn="id" keyProperty="id"
		parameterType="map" useGeneratedKeys="true">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. @project https://github.com/itfsw/mybatis-generator-plugin -->
		insert into role
		(name, description, create_time, readonly)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.name,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR},
			#{item.createTime,jdbcType=TIMESTAMP},
			#{item.readonly,jdbcType=BIT})
		</foreach>
	</insert>
	<insert id="batchInsertSelective" keyColumn="id"
		keyProperty="id" parameterType="map" useGeneratedKeys="true">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. @project https://github.com/itfsw/mybatis-generator-plugin -->
		insert into role (
		<foreach collection="selective" item="column" separator=",">
			${column.escapedColumnName}
		</foreach>
		)
		values
		<foreach collection="list" item="item" separator=",">
			(
			<foreach collection="selective" item="column" separator=",">
				<if test="'name'.toString() == column.value">
					#{item.name,jdbcType=VARCHAR}
				</if>
				<if test="'description'.toString() == column.value">
					#{item.description,jdbcType=VARCHAR}
				</if>
				<if test="'create_time'.toString() == column.value">
					#{item.createTime,jdbcType=TIMESTAMP}
				</if>
				<if test="'readonly'.toString() == column.value">
					#{item.readonly,jdbcType=BIT}
				</if>
			</foreach>
			)
		</foreach>
	</insert>

	<!-- 自定义sql -->
	<select id="getUserRoles" parameterType="int"
		resultMap="BaseResultMap">
		select * from role r,user_role ur where r.id=ur.role_id and
		ur.user_id=#{userId,jdbcType=INTEGER}
	</select>
</mapper>